@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --white-paragraph: hsla(0, 0%, 100%, 0.75);
  --white-stats: hsla(0, 0%, 100%, 0.6);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter";
  color: var(--white);
}
.container {
  width: 1110px;
  height: 446px;
  background-color: var(--card-bg);
  display: flex;
  border-radius: 8px;
}
.text-container {
  width: 50%;
  padding: 0 95px 0 71px;
}
.text-container h1 {
  margin-top: 72px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 44px;
}
.text-container h1 span {
  color: var(--accent-color);
}
.text-container p {
  margin-top: 25px;
  line-height: 25px;
  color: var(--white-paragraph);
  font-size: 0, 9375rem;
}
.stats-container {
  display: flex;
  margin-top: 72px;
}
.stats:nth-child(2) {
  margin-left: 63px;
}
.stats:nth-child(3) {
  margin-left: 60px;
}
.stats h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.stats-container span {
  color: var(--white-paragraph);
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 25px;
}
.image-container {
  position: relative;
  width: 50%;
  background-image: url("images/image-header-desktop.jpg");
  background-size: cover;
  border-radius: 0 8px 8px 0;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%, 0.6);
  border-radius: 0 8px 8px 0;
}

@media only screen and (max-width: 1134px) {
  .container {
    flex-direction: column;
    width: 327px;
    height: 780px;
    align-items: center;
  }

  .text-container {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
  }

  .text-container h1 {
    width: 264px;
    margin: 40px auto 16px auto;
    font-size: 1.75rem;
    line-height: 32px;
  }
  .text-container p {
    width: 264px;
    margin: 0 auto;
    font-size: 0.9375rem;
    line-height: 25px;
  }

  .image-container {
    width: 100%;
    min-height: 250px;
    order: -1;
    border-radius: 8px 8px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
